*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
p {
    padding: 1em 0;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

h3 {
    font-size: 1rem;
    font-weight: 600;
}

a {
    color: rgb(255, 255, 255);
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 1em 2em;
    text-decoration: none;
    border: 1px solid #666;
    margin-block: .5em;
}

.btn:hover {
    background-color: #eaeaea;
    color: #333;
}


/* header css  */

.welcome {
    min-height: 450px;
}

.welcome .bg-image {
    position: absolute;
    background: #333 url('../images/bg-image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.4;
}

.welcome h1 {
    padding-top: 6.25rem;
    padding-bottom: 0;
}

.welcome .content {
    padding-inline: 1.5em;
}


/* end of header css  */